<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <section>
        {% if error is not none %}
        <div class="alert alert-danger">
            {% if error == 'incorrect_permissions' %}
            Incorrect permissions
            {% elif error == 'incorrect_password' %}
            Incorrect password
            {% else %}
            Incorrect credentials
            {% endif %}
        </div>
        {% endif %}
        <div class="row justify-content-center align-items-center" style="height: 100vh">
            <div class="col-md-4">
                <form action="{{url_for('dashboard_login')}}" method="POST">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" required name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" required name="password" class="form-control">
                    </div>
                    <div class="form-group my-5">
                        <button class="btn btn-success w-100">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>