{% extends 'dashboard/base.html' %}

{% block title %}
Sos Requests | History
{% endblock %}

{% block content %}
<section class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <a href="{{url_for('dashboard_index', page=1)}}" class="w-100 btn btn-danger">Active</a>
        </div>
        <div class="col-md-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="data-live-sos">
                    {% for sos_request in sos_requests %}
                    <tr>
                        <td>{{sos_request.id}}</td>
                        <td>{{sos_request.user.first_name}} {{sos_request.user.last_name}} | {{sos_request.user.email}}</td>
                        <td>
                            <a href="{{url_for('dashboard_sos_requests_show', id=sos_request.id)}}" class="btn btn-info my-3">Show more</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page > 1 %}
                    <li class="page-item"><a class="page-link" href="{{url_for('dashboard_sos_requests_history', page=page-1)}}">Previous</a></li>
                    {% endif %}
                    {% if sos_requests_count > 0 %}
                    <li class="page-item"><a class="page-link" href="{{url_for('dashboard_sos_requests_history', page=page+1)}}">Next</a></li>
                    {% endif %}
                </ul>
              </nav>
        </div>
    </div>
</section>
{% endblock %}
